// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$turquoise: #00D1B1;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(37, 35, 43);
$light-gray: #F4F4F4;
