.form-container {
	width: 30%;
	background-color: #FFFFFFCC;
	padding: 25px;
	color: $gray;
}

section {
	margin-top: 2em;

	.cards {
		.card {
			width: 30%;

			img {
				object-fit: contain;
				margin-bottom: 1em;
			}
		}
	}
}