<section id="description"">
  <h2 class="text-center">How does it work ?</h2>
  <p class="lead text-center"><strong>Flater Services<sup>&circledR;</sup></strong> helps flat owners to find trustable helpers to do visits or clean their flats, or to check in and check out tenants. Helpers can find a lot of opportunities around!</p>

  <div class="cards">
    <div class="card">
      <img src="assets/FlaterLogo.png"/>
      <h3>In trust your real estate</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>

    <div class="card">
      <img src="assets/FlaterLogo.png"/>
      <h3>Another title</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>

    <div class="card">
      <img src="assets/FlaterLogo.png"/>
      <h3>Earn good comission as a Flat'Helper</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>
</section>

<section id="services">
  <h2 class="text-center">Why join us?</h2>
  <p class="lead text-center">This is a cheap version of course</p>
  
  <div class="cards">
    <div class="card">
      <img src="assets/FlaterLogo.png"/> 
      <h3>In trust your real estate</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>

    <div class="card">
      <img src="assets/FlaterLogo.png"/>
      <h3>Another title</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>

    <div class="card">
      <img src="assets/FlaterLogo.png"/>
      <h3>Earn good comission as a Flat'Helper</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>
  </div>
</section>
