<div class="banner-2">
  <div class="container">
    <h1 class="text-center">How does it work ? eoihfoieh</h1>
    <p>This is a cheap version of course</p>
  </div>
</div>

<div class="cards">
  <div class="card">
    <img
      src="assets/FlaterLogo.png"
      />
    <h2>In trust your real estate</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>

  <div class="card">
    <img src="assets/FlaterLogo.png"/>
    <h2>Another title</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>

  <div class="card">
    <img src="assets/FlaterLogo.png"/>
    <h2>Earn good comission as a FLater Agent</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>
</div>

<div class="banner-2">
  <div class="container">
    <h2 class="text-center">How does it work ? eoihfoieh</h1>
    <p>This is a cheap version of course</p>
  </div>
</div>

<div class="cards">
  <div class="card">
    <img
      src="assets/FlaterLogo.png"
      />
    <h2>In trust your real estate</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>

  <div class="card">
    <img src="assets/FlaterLogo.png"/>
    <h2>Another title</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>

  <div class="card">
    <img src="assets/FlaterLogo.png"/>
    <h2>Earn good comission as a FLater Agent</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>
</div>

