<div class="banner-2">
  <div class="container">
    <p>Pour les propriétaires</p>
  </div>
</div>

<div class="cards">
  <div class="card">
    <img
      src="assets/appartement.jpg"
      />
    <h2>Confiez la gestion de votre bien</h2>
    <div class="text-justify">
    <p>
    Vous avez un bien locatif mais vous n'avez pas le temps de vous occuper
    physiquement de la gestion ? Trouver le profil idéal pour vous épauler dans
    cette tâche.

    </p>
  </div>
  </div>

  <div class="card">
    <img src="assets/service.png"/>
    <h2>Indiquez le type de service recherché </h2>
    <p>
    Flater Services vous permet de trouver quelqu'un pour : <ul>
      <li>Faire les visites pour vous</li>
      <li>S'occuper du Check-In / Out</li>
      <li>S'occuper du ménage</li>
    </ul>
    </p>
  </div>

  <div class="card">
    <img src="assets/FlaterLogo.png"/>
    <h2></h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>
</div>

<div class="banner-2">
  <div class="container">
    <p>Pour les concierges</p>
  </div>
</div>

<div class="cards">
  <div class="card">
    <img
      src="assets/visit.png"
      />
    <h2>Faites visiter</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>

  <div class="card">
    <img src="assets/checkin.jpg"/>
    <h2>Faites l'état des lieux</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>

  <div class="card">
    <img src="assets/cleaning.jpg"/>
    <h2>Redonnez de la fraicheur</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>
</div>



