<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?appartment);">
  <div class="container">
  	<div class="banner-text">
  		<h1>Flater Services: the best platform for flat visits</h1>
  		<p>As a flat owner or as a concierge:</p>
  		<a class="btn btn-primary" href="#">Create a visit</a>
  		<a class="btn btn-primary" href="#">Concierge a visit</a>  		
  	</div>

	<% unless user_signed_in? %>
		<div class="form-container">
			<%= render 'devise/registrations/form' %>
		</div>
	<% end %>

  </div>

</div>


<div class="container">
	<%= render 'pages/flaterdescription' %>
</div>