<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?appartment);display: flex;">
  <div class="container d-flex justify-content-between">

  	<div class="banner-text">
  		<h1>Flater Services: A vos côtés dans la gestion quotidienne de vos biens immobiliers</h1>
  		<p>Pour les propriétaires et pour les concierges</p>
  		<a class="btn btn-home-left" href="<%= new_task_path %>">CREATE A TASK </br> (owner) </a>
  		<a class="btn btn-home-right" href="<%= tasks_path %>">APPLY TO TASK </br> (concierge) </a>
  	</div>

	<% unless user_signed_in? %>
		<div class="form-container">
			<%= render 'devise/registrations/form' %>
		</div>
	<% end %>

  </div>
</div>

<div class="container">
	<%= render 'pages/flaterdescription' %>
</div>
