<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?apartment); height: 60vh">
  <div class="container d-flex justify-content-between">
    <div>
      <h1>
      <span><strong>Flater</strong>Services<sup>&trade;</sup></span>
      The best platform for flat visits & more
      </h1>
      <p class="lead">As a flat owner or as a concierge, we render services to each other.</p>

      <%= link_to 'Create a task', new_task_path, class: 'btn btn-primary' %>
      <%= link_to 'Apply to tasks', tasks_path, class: 'btn btn-outline-light' %>
    </div>

    <% unless user_signed_in? %>
      <div class="form-container">
        <%= render 'devise/registrations/form' %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <%= render 'pages/flaterdescription' %>
</div>
