<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?apartments);">
  <div class="container d-flex justify-content-between align-items-start">
    <div>
      <h1>
      <span><strong>Flater</strong>Services<sup>&trade;</sup></span>
      There's always someone to help you</h1>
      <p class="lead">to visit, to check in or to check out, to clean, and more!</p>
    </div>

    <div class="form-container">
      <h2>Welcome back!</h2>
      <p>Please log in to continue</p>
      <%= render 'form' %>
    </div>
  </div>
</div>
