.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 999;
  
  .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-brand img {
    width: 40px;
  }
}



