.task-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  
  & > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

// .img-large-size {
//       height: 200px;
//       width: 100%;
//       object-fit: cover;
//       border-color: red;
//       border-style: dotted;
//     }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .task-card-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    .task-card-description {
      width: 100%;
    }

    .task-card-user {
      $avatar_size_small: 50px;
      position: absolute;
      right: 16px;
      top: -1 * $avatar_size_small / 2;
      width: $avatar_size_small;
      height: $avatar_size_small;
      object-fit: cover;
    }
    
    .task-card-pricing {
      position: absolute;
      right: 8px;
      top: 40px;
      width: 50px;
    }
  }
}
